# 1. Secret Vault (CRITICAL)
# This prevents your API keys from leaking to GitHub
.env

# 2. The Python Toolbox
# This prevents 100MB+ of library files from being uploaded
.venv/
env/
venv/
ENV/

# 3. Python "Trash" 
# These are temporary files Python creates to run faster
__pycache__/
*.pyc
*.pyo
*.pyd

# 4. OS/Editor specific
# Keeps your repo clean from system-specific files
.vscode/
.DS_Store
Thumbs.db

https://newsdata.io/api/1/archive?apikey=pub_06060ac67c04493a9156ec683285802e&q=example&language=en&from_date=2026-04-19&to_date=2026-04-26